.App {
  display: grid; 

  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  gap: 0px;
  height: 100%;

  
}
 
#item-0 {

  background-color: #3d3846; 
  grid-row-start: 1;
  grid-column-start: 1;

  grid-row-end: 2;
  grid-column-end: 4;
  
}
#item-1 {

  background-color: #a9d3fd; 
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 4;
  grid-column-end: 2;
  
}
#item-2 {

  background-color: #deddda; 
  grid-row-start: 2;
  grid-column-start: 2;

  grid-row-end: 4;
  grid-column-end: 4;
  
}
#connection-status {
  color: white;
  text-align: center;
  
}